.idea/*
composer.lock
vendor/*
collectors
/conf/**
+/conf/params.distrib.xml
data/*.csv
data/*.txt
.buildpath
.project
.settings/*
test/php-code-style/vendor
.php-cs-fixer.cache
.phpunit.result.cache
phpstan_results.xml

