includes:
    # for an explanation of the baseline concept, see: https://phpstan.org/user-guide/baseline
    - phpstan-baseline.neon

parameters:
    level: 1

    scanDirectories:
        - vendor

    paths:
        - core
        - test
        - toolkit
        - exec.php

    bootstrapFiles:
        - vendor/autoload.php
