parameters:
	ignoreErrors:
		-
			message: '#^Call to static method AddModule\(\) on an unknown class SetupWebPage\.$#'
			identifier: class.notFound
			count: 1
			path: test/getproject/module/module.myproject.php
